body {
    background-color: #eee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body {
    background-color: white;
}
.centre {
    width: min(720px, 90%);
    padding: 4rem;
    margin: 0 auto;
}

.header {
    background: #000;
    color: white;
    position: relative;
    margin-bottom: 0;
}
.header .body {
    background: rgba(255,255,255,0.025);
    margin-bottom: -5px;
}
.header hr {
    margin-bottom: 1rem;
}
.octo {
    text-align: right;
    margin-top: 10rem;
}

.bread {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    color: #7dc3e4;
    text-decoration: none;
}
.bread:hover {
    color: #eee;
    background-color: rgba(0,0,0,0.2);
}


canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.body img {
    max-width: 100%;
}